@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


* {
    padding: 0;
    margin: 0; 
}

body {
    position: relative;
}

#cv {
    width: 100%;
    height: 100%;
    background:black;
    display: block;
}

button.generate-tree-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 1.5rem;
    border-radius: 50px;
    padding: 1em;
    outline: none;
    border: none;
    color:black;
    background-color: brown;
    font-family: 'Raleway', sans-serif;
}


@media (max-width: 1000px){
    button.generate-tree-btn{
        font-size: 0.8rem;
    }
}